
body {
  padding-top:40px;
}


table td {
  border: 0;
  outline: 0;
}

  td.docs, th.docs {
    max-width: 400px;
    min-width: 400px;
    min-height: 5px;
  }
  .bubble{
   	position: relative; 
    -webkit-border-radius: 5px 0px 0px 5px; 
    -moz-border-radius: 5px 0px 0px 5px;   
    border-radius: 5px 3px 5px 5px;  
    -webkit-box-shadow: -2px 2px 4px #888;  
    -moz-box-shadow: -2px 2px 4px #888;  
    box-shadow: -2px 2px 4px #888;
    padding:5px;
    margin:5px;
    border: 1px solid #aaa;
  }
  .bubble:before{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #FFF;
    border-style: solid;
    border-width: 10px 10px 10px 20px;
    content: " ";
    height: 0;
    left: 388px;
    position: absolute;
    top: 0;
    width: 0;
  }
    .pilwrap {
      position: relative;
    }
      .pilcrow {
        font: 12px Arial;
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 3px; left: -20px;
        padding: 1px 2px;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
      }
        td.docs:hover .pilcrow {
          opacity: 1;
        }
  td.codes, th.codes {
    padding-left:10px;
    width: 100%;
    vertical-align: top;
    background: #f5f5ff;
    border-left: 1px solid #e5e5ee;
  }
.main {
  padding-bottom:10px;
  padding-left: 40px;
  box-shadow: inset 0 0 5px #000000;
  background: -moz-linear-gradient(left, #E5E5FF, #fff);
  background: -webkit-gradient(linear,
                left top, right top, from(#E5E5FF), to(#fff));
}
  
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #e0e0e0 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: black !important;
}
.syntaxhighlighter table caption {
  color: black !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: black !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #009200 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: blue !important;
}
.syntaxhighlighter .keyword {
  color: #0066bb !important;
}
.syntaxhighlighter .preprocessor {
  color: gray !important;
}
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter .constants {
  color: #0066cc !important;
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #006699 !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important;
}
.syntaxhighlighter .keyword {
  font-weight: bold !important;
}

